html {
  background-image: url("img/wood-121.jpg");
}
.main {
  background-color: white;
  height: 2200px;
  width: 75%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.navbar {
  display: flex;
  padding: 10px;
  background: white;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.1);
  flex-direction: row-reverse;
  justify-content: space-between;
}
ul {
  display: flex;
  flex-flow: row-reverse nowrap;
  gap: 2rem;
}

li {
  border-right: 1px solid #ccc;
  list-style: none;
  padding: 0.5rem 1rem;
  font-weight: 600;
  cursor: pointer;
}

li:hover {
  color: blue;
}
a {
  text-decoration: none;
  color: currentColor;
}

.heading {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: center;
}
spain {
  color: red;
  opacity: 0.5;
}
.airplane {
  width: 30px;
  height: 30px;
}



.advertising {
  background-color: rgb(234, 230, 230);
  padding: 10px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}
.phone {
  height: 300px;
  width: 150px;
}
.more_info {
  background-color: rgb(255, 0, 123);
  color: white;
  border: 0;
}

/* .section2 {
  display: flex;
  background-color: rgb(33, 184, 204);
  height: 30%;
  width: 74.2%;
  position: absolute;
  top: 461px;
  bottom: 30px;
  left: 196px;
}
h4 {
  color: white;
}
.h4_1 {
  position: absolute;
  left: 100px;
  top: 20px;
}
.h4_2 {
  position: absolute;
  left: 450px;
  top: 20px;
}
.h4_3 {
  position: absolute;
  left: 850px;
  top: 20px;
}
.p_1 {
  color: white;
  position: absolute;
  top: 50px;
  left: 100px;
}
.p_2 {
  color: white;
  position: absolute;
  top: 50px;
  left: 450px;
}
.p_3 {
  color: white;
  position: absolute;
  top: 50px;
  left: 850px;
}
.flag {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 45px;
  left: 40px;
  background: white;
  border-radius: 50%;
}
.photo {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 45px;
  left: 380px;
  border-radius: 50%;
}
.house {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 45px;
  left: 780px;
  border-radius: 50%;
}
.arrow_1 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 135px;
  left: 160px;
  cursor: pointer;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}
.arrow_1:hover {
  animation: arrow_1 1s linear infinite;
}
@keyframes arrow_1 {
  0% {
    left: 160px;
  }
  50% {
    right: 165px;
  }
  100% {
    left: 165px;
  }
}
.arrow_2 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 135px;
  left: 510px;
  cursor: pointer;
}
.arrow_2:hover {
  animation: arrow_2 1s linear infinite;
}
@keyframes arrow_2 {
  0% {
    left: 510px;
  }
  50% {
    right: 515px;
  }
  100% {
    left: 515px;
  }
}
.arrow_3 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  top: 135px;
  left: 910px;
  cursor: pointer;
}
.arrow_3:hover {
  animation: arrow_3 1s linear infinite;
}
@keyframes arrow_3 {
  0% {
    left: 910px;
  }
  50% {
    right: 915px;
  }
  100% {
    left: 915px;
  }
}
.h6_1 {
  color: white;
  position: absolute;
  top: 110px;
  left: 100px;
}
.h6_2 {
  color: white;
  position: absolute;
  top: 110px;
  left: 450px;
}
.h6_3 {
  color: white;
  position: absolute;
  top: 110px;
  left: 850px;
}
.inform {
  display: flex;
  background-color: white;
  height: 400px;
  width: 100%;
  position: absolute;
  top: 210px;
}
.woman {
  height: 150px;
  width: 150px;
  position: absolute;
  left: 30px;
  top: 20px;
}
.man {
  height: 150px;
  width: 150px;
  position: absolute;
  top: 200px;
  left: 30px;
}
.h4_woman {
  color: black;
  position: absolute;
  left: 200px;
}
.h4_man {
  position: absolute;
  left: 200px;
  top: 180px;
}
.p_woman {
  position: absolute;
  top: 30px;
  left: 200px;
  color: rgba(0, 0, 0, 0.638);
}
.p_man {
  position: absolute;
  top: 210px;
  left: 200px;
  color: rgba(0, 0, 0, 0.638);
}
.btn_woman {
  height: 25px;
  width: 50px;
  background-color: rgb(247, 106, 106);
  color: white;
  border: 0;
  position: absolute;
  top: 145px;
  left: 198px;
  cursor: pointer;
}
.btn_man {
  height: 25px;
  width: 50px;
  background-color: rgb(247, 106, 106);
  color: white;
  border: 0;
  position: absolute;
  top: 325px;
  left: 198px;
  cursor: pointer;
}
.menu_right {
  position: relative;
  display: block;
  left: 750px;
  top: 50px;
}
.centrobtn {
  background-color: white;
  color: rgb(195, 119, 26);
  padding: 16px;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.568);
  cursor: pointer;
}
.eronbtn {
  background-color: white;
  color: rgb(195, 119, 26);
  padding: 16px;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.57);
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #9dd70a6f;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(16, 11, 11, 0.422);
  z-index: 1;
}

.dropdown-content a {
  background-color: white;
  color: rgb(154, 157, 170);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #024d5c;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .eronbtn {
  background-color: #2f2d30;
}

.span_menu {
  color: aqua;
}
.a_menu {
  color: black;
}



.section3 {
  display: flex;
  background-color: rgb(247, 106, 106);
  height: 200px;
  width: 100%;
  position: absolute;
  top: 610px;
  color: white;
}
.h1_block {
  position: absolute;
  left: 40%;
  top: 35px;
}
.p_block {
  position: absolute;
  left: 20%;
  top: 80px;
}